<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= @seller.name %></h3>
        <p>Seller rating: <%= @seller.rating%></p>
        <p><%= link_to '<i class="glyphicon glyphicon-edit"></i> Edit'.html_safe, edit_seller_path(@seller), class: 'btn btn-primary' %> <%= link_to '<i class="glyphicon glyphicon-trash"></i> Delete'.html_safe, seller_path(@seller), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %></p>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Seller</th>
      <th>Category</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @seller.products %>
  </tbody>
</table>


